/*-----Brands page-----*/

.brands-section {
  padding-left:10px;}
.brand-index {
  margin-bottom: 20px;}
.brand-index a {
  color: #373C40;
      font-size: 14px;
      padding: 0 25px 0 0;
      cursor: pointer;
  }
  
.alphabet_heading {
    
    margin: 20px 0 20px 0;
    padding: 20px 0;
    
  }
  
.product-brands ul {
  
  display: inline-block;
    margin: 20px 0;
    padding: 0;
    width: 20%;
    vertical-align: top; 
}

.product-brands ul li {
        display: block;
        padding: 0 24px 0 0;}
  
h2.brands {
    padding: 2em 0 1em 0;
    color: #382f2d;
    font-family: "Montserrat",sans-serif;
    font-size: 1.125rem;
    text-align: left;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -.03em;
    }

li.brand-nav-item.inactive a {color:#e0e0de;}
li.brand-nav-item.inactive a:hover {color: #dfded8;
  background-color: #fff;}

.site-content {
  overflow: hidden;
}

.brand-nav-item.active a {
  color: #616161;
  background-color: #ece7d0;
}
.brand-nav-item a, .brand-nav-item-all a {
  width: 25px;
  text-decoration: none;
  text-align: center;
  display: block;
  color: #382f2d;
  font-family: "Montserrat", sans-serif;
  font-size: .8rem;
  font-weight: 600;
    padding: 11px 7px;
  margin: 0 0 5px 0 !important;;
}

.brand-nav-item a:hover,
.brand-nav-item a:focus {
  color: #616161;
  background-color: #ece7d0;
}

.brand-results-row {
  transition: all 0.4s ease-in-out;
}
.brand-results-row:last-child {
  margin-bottom: 0;
}
.brand-results-row.inactive {
  opacity: 0;
  height: 0;
  margin: 0;
  width: 100%;
  display: none;
}
.brand-results-item {
  margin-bottom: 20px;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  display: block;
}
a.brand-results-item {
  text-decoration: none;
  color: #616161;
}

#brands-body a {
  margin: 0;
}

div#brands-body a {
  display: block;
  color: #382f2d;
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
  line-height: 2em;
}

.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

#brands-body {
  margin-top:  1rem;
  -webkit-columns: 5;
  -moz-columns: 5;
  columns: 5;
  padding-bottom: 5rem;
  min-height: 10rem;
}

  @media (max-width: 768px){
    div#brands-body a {
      font-size: .9rem;
      line-height: 2em;}

    .section-brands {margin-left: .6em;}

    #brands-body {
      -webkit-columns: 2;
      -moz-columns: 2;
      columns: 2;
      padding-bottom: 5rem;
    }
    .brand-nav-item a {
      padding: 7px 7px;
      margin: 5px;
    }
  }

  @media (max-width: 450px){
    #brands-body {
    -webkit-columns: 1;
    -moz-columns: 1;
    columns: 1;
    padding-bottom: 5rem;
}
}

@media (min-width: 1025px) {
section.section-brands div.shell {
    padding-top: 0px !important;
}
}

.brand-results-row ul,.brand-nav ul{
  
   margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}